{% extends "base.html" %}
{% block content %}

<h3 class="mb-3">Applications</h3>

<a class="btn btn-primary mb-3" href="{{ url_for('add_application') }}">
    Add Application
</a>

<table class="table table-bordered table-hover align-middle">
    <thead class="table-dark">
        <tr>
            <th>Company</th>
            <th>Role</th>
            <th>Status</th>
            <th>Deadline</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
    {% for app in apps %}
        <tr>
            <td>{{ app["company"] }}</td>
            <td>{{ app["role"] }}</td>

            <!-- STATUS DROPDOWN -->
            <td>
                <form method="POST" action="{{ url_for('update_status', id=app['id']) }}">
                    <select name="status"
                            class="form-select form-select-sm
                            {% if app['status']=='Offer' %}bg-success text-white
                            {% elif app['status']=='Rejected' %}bg-danger text-white
                            {% elif app['status']=='Interview' %}bg-warning
                            {% else %}bg-secondary text-white
                            {% endif %}"
                            onchange="this.form.submit()">

                        <option value="Applied"
                            {% if app['status']=='Applied' %}selected{% endif %}>
                            Applied
                        </option>

                        <option value="Interview"
                            {% if app['status']=='Interview' %}selected{% endif %}>
                            Interview
                        </option>

                        <option value="Offer"
                            {% if app['status']=='Offer' %}selected{% endif %}>
                            Offer
                        </option>

                        <option value="Rejected"
                            {% if app['status']=='Rejected' %}selected{% endif %}>
                            Rejected
                        </option>

                    </select>
                </form>
            </td>

            <td>{{ app["deadline"] }}</td>

            <td>
                <a href="{{ url_for('delete_application', id=app['id']) }}"
                   class="btn btn-danger btn-sm"
                   onclick="return confirm('Are you sure you want to delete this application?')">
                   Delete
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if not apps %}
<div class="alert alert-info">
    No applications added yet.
</div>
{% endif %}

{% endblock %}